<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jikoman.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED72AFF91BFF287800B84202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED72B0121BFF287800B84202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED72B01D1BFF287800B84202</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
